.slider {
  border-radius: 24px;
  height: 8px;

  &--to-Do {
    @extend .slider;
    background: #ebebeb;
  }

  &--inprogress {
    @extend .slider;
    background: #ebebeb;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 45%;
      background: #ff5f37;
      border-bottom-left-radius: 24px;
      border-top-left-radius: 24px;
    }
  }

  &--completed {
    @extend .slider;
    background: #8bc488;
  }
}
