@import "../../../styles/common/mixins";

.sidebar-options {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
}

.side-bar {
  background-color: #1d1042;
  padding: 38px 32px 32px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: sticky;
  top: 0;

  @include mobile(1000px) {
    position: fixed;
    top: 0;
    z-index: 1;
    left: -272px;
    opacity: 0;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s ease-in;
  }

  &__content {
    &__welcome {
      padding: 12px 16px;
      background: #45269c;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      border-radius: 8px;
      margin-bottom: 40px;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin-left: 8px;
      margin-right: 8px;

      a {
        color: #ffffff;
      }
    }

    .first {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
      padding-bottom: 32px;
    }

    .second {
      padding-top: 32px;
      opacity: 0.7;
    }
  }
}
.dashboard-background {
  background: rgba(72, 71, 71, 0.6);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  display: none;
}

.blur {
  opacity: 1;
  display: block;
}

.mobile {
  left: 0;
  opacity: 1;
}

.mobile-nav {
  display: none;

  @include mobile(1000px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 48px 20px 0;
  }

  &__button {
    @include mobile(414px) {
      display: none;
    }
  }

  .add-members {
    display: none;
    position: relative;

    &:hover {
      .add-tool-tip {
        display: block;
        position: absolute;
        right: 0;
        width: max-content;
        top: -46px;
      }
    }

    .add-button {
      background: #000;
      padding: 10px;
      border-radius: 8px;

      svg {
        width: 21px;
        height: 21px;
        color: #fff;
      }
    }

    .add-tool-tip {
      display: none;
      background: #000;
      padding: 8px;
      border-radius: 8px;
      font-size: 12px;
      color: #fff;

      &::after {
        content: "";
        background: #000;
        width: 21px;
        height: 11px;
        position: absolute;
        top: 100%;
        left: 70%;
        transform: translateX(-50%);
        clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
      }
    }

    @include mobile(414px) {
      display: block;
    }
  }
}

.mobile-active {
  z-index: -1;
}
